<!-- Chart.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
    // ChartJS object placeholder
    var chart = null;

    function graphs_active() {
        // TODO: Get these from forms
        setup_filters();
    };

    function setup_filters() {
        $('#render_button').on('click', function(event) {
            var sensor_name = "brew-fridge-temperature";
            var start = $("#start_date_text").val()
            var end = null;

            // No end date if live data
            if(!$('#live_checkbox').prop('checked'))
                end = $("#end_date_text").val();

            // Disable render button while we render graph
            $(this).prop('disabled', true);

            render_graph(sensor_name, start, end, render_done);
        });

        $("#end_date_text").prop('disabled', $('#live_checkbox').prop('checked'));

        $('#live_checkbox').change(function() {
            // Disable end date input if live data
            $("#end_date_text").prop('disabled', $(this).prop('checked'));
        });
    };

    function render_done() {
        // Got data, re-enable render button
        $('#render_button').prop('disabled', false);
    };

    function pad2(num) {
        if(num < 10)
            num = '0' + num
        return num
    };

    function date_to_str(date) {
        return '' + date.getFullYear() + '-' + pad2(date.getMonth() + 1) + '-' +
            pad2(date.getDate()) + ' ' + pad2(date.getHours()) + ':' + pad2(date.getMinutes()) +
            ':' + pad2(date.getSeconds());
    };

    function render_graph(sensor_name, start, end, complete_callback) {
        // request complete callback function optional
        complete_callback = complete_callback || null

        var time_format = 'YYYY-MM-DD HH:mm:ss';
        var live = false;

        if(end == null) {
            live = true;
            end = new Date();
            end = date_to_str(end);
        }

        $.ajax({
            type: "GET",
            url: "{{url_for('get_data_in_range')}}",
            data: {
                sensor_name: sensor_name,
                start: start,
                end: end
            },
            success: function(data) {
                data = data.map(
                        function (d) {
                            return {
                                x: new Date(d['x']),
                                y: d['y']
                            }
                        });

                var config = {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: sensor_name,
                            data: data
                        }]
                    },
                    options: {
                        title: {
                            text: 'My Title'
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    parser: time_format,
                                    tooltipFormat: 'll HH:mm'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Date'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Temperature (°C)'
                                }
                            }]
                        },
                    }
                };

                var ctx = $('#sensorDataChart');

                if(chart != null) {
                    chart.destroy();
                    chart = null;
                }

                chart = new Chart(ctx, config);
            },
            error: function(jqxHR, textStatus, errorThrown) {
                alert("Request error (invalid date format?): " + textStatus + ", " + errorThrown);
            },
            complete: complete_callback,
            dataType: 'json',
        });
    };
</script>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Start (YYYY-MM-DD HH:mm:ss)" id="start_date_text" aria-label="start_date" aria-describedby="basic-addon2">
            <input type="text" class="form-control" placeholder="End (YYYY-MM-DD HH:mm:ss)" id="end_date_text" aria-label="end_date" aria-describedby="basic-addon2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="live_checkbox">
                <label class="form-check-label" for="live_checkbox">Live</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="render_button" type="button">Render</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="panel panel-default">
            <div class="panel-body">
                <canvas id="sensorDataChart"></canvas>
            </div>
        </div>
    </div>
</div>
