<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.endpoint == 'index' %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>

        {% if not current_user.is_anonymous %}
        <li class="nav-item {% if request.endpoint == 'user' %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Account</a>
        </li>
        {% endif %}
        {% if current_user.is_anonymous %}
        <li class="nav-item {% if request.endpoint == 'login' %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% else %}
            {% if current_user.is_admin %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin') }}">Admin</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
<br><br><br>