{% extends "base.html" %}

{% block app_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#graphs" aria-controls="graphs" role="tab" data-toggle="tab">Graphs</a></li>
        <li role="presentation"><a href="#control" aria-controls="control" role="tab" data-toggle="tab">Control</a></li>
        <li role="presentation"><a href="#api_nodes" aria-controls="api_nodes" role="tab" data-toggle="tab">API Nodes</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="graphs">
            {% include "brewcontrol_tabs/graph_tab.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="control">
            [control content]
        </div>
        <div role="tabpanel" class="tab-pane" id="api_nodes">
            {% include "brewcontrol_tabs/api_tab.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            [settings content]
        </div>
    </div>
</div>

<script>
    function control_active() {
        // alert('control_active');
    }
    function settings_active() {
        // alert('settings_active');
    }
</script>

<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
        $('.nav-tabs a').on('shown.bs.tab', function(event){
            var tab_target = $(event.target).text();
            switch(tab_target) {
                case "Graphs":
                    graphs_active();
                    break;
                case "Control":
                    control_active();
                    break;
                case "API Nodes":
                    api_nodes_active();
                    break;
                case "Settings":
                    settings_active();
                    break;
            }
        });
    });
</script>

{% endblock %}