{% extends "base.html" %}

{% block app_content %}
    <h1>User Account</h1>
    <p>
        Username: {{ user.username }}<br>
        Email: {{ user.email }}
        {% if current_user.username == user.username %}
            <a href="{{ url_for('user', username=user.username, edit='email') }}"> edit</a>
            {% if edit == 'email' %}
                {% include '_quick_form.html' %}
            {% endif %}
        {% endif %}
        <br>
    </p>
    {% if current_user.username == user.username %}
        <p>
            <div>
                {% if edit == 'delete' %}
                    <br>Are you sure you want to delete your account? This can NOT be undone.<br><br>
                        {% include '_quick_form.html' %}
                    <a href="{{ url_for('user', username=user.username, edit='password') }}">Change Password</a>
                {% elif edit == 'password' %}
                    {% include '_quick_form.html' %}
                    <a href="{{ url_for('user', username=user.username, edit='delete') }}">Delete Account</a><br>
                {% else %}
                    <a href="{{ url_for('user', username=user.username, edit='password') }}">Change Password</a><br>
                    <a href="{{ url_for('user', username=user.username, edit='delete') }}">Delete Account</a><br>
                {% endif %}
            </div>
        </p>
    {% endif %}
{% endblock %}